/* ======================= */
/* Initializing Stylesheet */
/* ======================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

hr {
  border-top: 1px solid #9F9F9F;
}

span {
  vertical-align: bottom;
}

/* ==================== */
/* Header Section Style */
/* ==================== */

.header {
  background-color: #562EFF;
  padding: 26px 0;
  margin-bottom: 36px;
}

.header,
.header a {
  color: #FFFFFF;
}

.header .container,
.header .brand,
.header .nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .container {
  max-width: 880px;
  width: 80%;
  margin: 0 auto;
}

.header .brand,
.header .nav {
  flex: 1;
}

.header .brand img {
  width: 40px;
  margin-right: 16px;
}

.header .brand .brand-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.header .nav-list {
  justify-content: flex-end;
}

.header .nav-item {
  margin-left: 36px;
}

.header .nav-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


/* ================== */
/* Main Section Style */
/* ================== */

.main {
  max-width: 870px;
  width: 80%;
  margin: 0 auto;
}


/* Top Player and Top Blog Section */
.players-and-blog {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}


/* Top Player Section */
.top-player {
  margin-bottom: 30px;
}

.top-player .title,
.top-blog .title,
.latest-course .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562EFF;
  margin-bottom: 30px;
}

.top-player .players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.top-player .player {
  display: flex;
  align-items: center;
}

.top-player .players img {
  width: 60px;
  margin-right: 8px;
}

.top-player .players .player-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}


/* Top Blog Section */
.top-blog {
  margin-top: 30px;
}

.top-blog .blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 25px;
}

.top-blog .blog {
  display: flex;
  gap: 10px;
  align-items: center;
}

.top-blog .blogs img {
  width: 140px;
}

.top-blog .blogs .blog-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

.top-blog .blogs span,
.top-blog .blogs .author-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.top-blog .blogs span {
  color: #9F9F9F;
}

.top-blog .blogs .author-name {
  color: #562EFF;
}


/* Latest Course Section */
.latest-course {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 22px 32px;
  margin-bottom: 30px;
}

.latest-course .courses {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.latest-course .courses .course {
  flex: 1;
  font-family: 'Roboto', sans-serif;
}

.latest-course .course img {
  /* width: 224px; */
  width: 100%;
  margin-bottom: 18px;
}

.latest-course .course .course-name {
  font-weight: 500;
  font-size: 20.0336px;
  line-height: 23px;
  margin-bottom: 8px;
}

.latest-course .course .course-author,
.latest-course .course .rating,
.latest-course .course .duration {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.latest-course .course .course-author {
  color: #ED6B4F;
  margin-bottom: 8px;
}

.latest-course .courses .course-info {
  display: flex;
  justify-content: space-between;
}

.latest-course .course .rating {
  color: #A2A2A2;
}

.latest-course .course .duration-container {
  color: #FF4A60;
}

.font {
  font-size: 20px;
}

.material-symbols-outlined.grade {
  font-variation-settings:
    'FILL' 200,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

.material-symbols-outlined.grade.yellow {
  color: #FFC014;
}

.material-symbols-outlined.grade.grey {
  color: #AEAEAE;
}





/* ============================== */
/* Media Query For Tablet Device  */
/* ============================== */

@media only screen and (max-width: 768px) and (min-width: 541px) {

  /* Header Section */
  .header .container {
    width: 90%;
  }


  /* Top Player Section */
  .top-player .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-player .players img {
    width: 40px;
    margin-right: 0;
  }

  .top-player .players .player-name {
    font-size: 14px;
  }


  /* Top Blog Section */
  .top-blog .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .top-blog .blogs img {
    width: 100%;
  }

  /* Latest Courses Section */
  .latest-course .courses {
    flex-direction: column;
  }
}

/* ============================== */
/* Media Query For Mobile Device  */
/* ============================== */

@media only screen and (max-width: 540px) {

  /* Header Section */
  .header .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .header .nav {
    width: 100%;
  }

  .header .nav-list {
    justify-content: space-around;
  }

  .header .nav-item {
    margin-left: 0;
  }


  /* Top Player Section */
  .top-player .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-player .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-player .players img {
    width: 40px;
    margin-right: 0;
  }

  .top-player .players .player-name {
    font-size: 14px;
  }


  /* Top Blog Section */
  .top-blog .blogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .top-blog .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  .top-blog .blogs img {
    width: 100%;
  }

  /* Latest Courses Section */
  .latest-course .courses {
    flex-direction: column;
  }
}